<div class="box3">
  <h3 class="search-genre">ジャンルから探す</h3>
  <%= link_to "カジュアル", "#", class: "box-link" %>
  <%= link_to "モード", "#", class: "box-link" %>
  <%= link_to "ヴィンテージ", "#", class: "box-link" %>
  <%= link_to "ストリート", "#", class: "box-link" %>
</div>