<div class="search-form">
  <%= search_form_for(@search, url: search_path) do |f| %>
    <%= f.label :name, "店舗の検索", class: "search-form" %>
    <%= f.search_field :name_cont, placeholder: '例) セカンドストリートなど...', class: 'search_field' %>
    <%= f.submit ("検索") , class: 'search-btn' %>
  <% end %>
</div>
