<h1>検索結果</h1>
<%= render 'search_form' %>
<div  class="store-page">
  <% @stores.each do |store| %>
    <div class="store-details">
      <h3 class="store-name">店舗名：<%= link_to store.name, '#' %></h3>
      <p>住所：<%= store.address %></p>
    </div>
    <div>店舗について：<%= store.outline %></div>
  <% end %>
</div>