<div class="home-main">
  <div class="home-wrapper"></div>
  <div class="top-message-box">
    <h1>自分に合う古着を見つけよう</h1>
  </div>
  <h1>古着めぐり</h1>
  <%= link_to "ログインはこちらから", new_user_session_path %>
  <div>まずは気になるお店を探してみよう</div>
</div>