@import 'bootstrap';
@import 'layouts/nabvar';

#index { 
  background-image: url("1134726_m.jpg");
}

.search-form {
  margin: 0 auto;
  text-align: center;
}

.search_field {
  height: 40px;
  text-align: center;
  margin: 0 auto;
  display:inline-block;
  width: 60%;
}

.search-btn {
  margin: 0 auto;
  display:inline-block;
  background: #5fad35;
  width: 50px;
  height: 40px;
  line-height: 36px;
  border: none;
  border-radius: 0 6px 6px 0;
  color: #FFF;
}

.search-btn:hover {
  background: #228B22;
}

.link-form {
  text-align: right;
  color: black;
}

.top-link {
  color: black;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.title {
  font-size: 120px;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.box1 {
  padding: 0.5em 1em;
  margin: 0 auto;
  font-weight: bold;
  color: black;
  background: #FFF;
  border: solid 3px black;
  border-radius: 10px;
  width: 600px;
}

.box1 h2 h3 p {
  margin: 0; 
  padding: 0;
}

.search-box {

}

.box2 {
  padding: 0.5em 1em;
  margin: 0 auto;
  font-weight: bold;
  color: black;
  background: #FFF;
  border: solid 3px black;
  border-radius: 10px;
  width: 600px;
}

.box3 {
  padding: 0.5em 1em;
  margin: 0 auto;
  font-weight: bold;
  color: black;
  background: #FFF;
  border: solid 3px black;
  border-radius: 10px;
  width: 600px;
}

body {
  margin: 0;
}