@import 'bootstrap';
@import 'layouts/nabvar';

/*=== トップ画面 ===*/
#index { 
  background-image: url("/images/IMG-3040.jpg");
  background-repeat: no-repeat;
  background-size: 1435px 700px;
}

.top-message {
  margin-top: 10px;
  margin-left: 20px;
}

.search-form {
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 10px;
}

.search-field {
  height: 40px;
  text-align: center;
  margin: 0 auto;
  display:inline-block;
  width: 50%;
}

.search-btn {
  margin: 0 auto;
  display:inline-block;
  background: #5fad35;
  width: 50px;
  height: 40px;
  line-height: 36px;
  border: none;
  border-radius: 0 6px 6px 0;
  color: #FFF;
}

.search-btn:hover {
  background: lightgreen;
}

.tokyo {
  padding-bottom: 10px;
}

.link-form {
  text-align: right;
  color: black;
}

.top-link {
  color: black;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.title {
  font-size: 120px;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.search-result {
  padding: 10px;
  width: 800px;
  margin: 50px auto;
}

.box1 {
  width: 600px;
  text-align: center;
  background: #fff;
  padding: 2em 1em;
  margin: 4em auto;
  position: relative;
  border: solid 3px brown;
  border-radius: 8px;
  .catchphrase {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #fff;
    color: black;
    font-weight: bold;
    border-radius: 10px;
  }
}

.box1 h2 h3 p {
  margin: 0; 
  padding: 0;
}

.box2 {
  padding: 2em 1em;
  margin: 4em auto;
  width: 900px;
  bottom: -200px;
  position: relative;
  border: solid 3px brown;
  border-radius: 8px;
  .search-area {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: black;
    font-weight: bold;
  }
}

.box3 {
  padding: 2em 1em;
  margin: 4em auto;
  width: 900px;
  bottom: -200px;
  position: relative;
  border: solid 3px  brown;
  border-radius: 8px;
  .search-genre {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: black;
    font-weight: bold;
  }
}

#footer {
  background-color: beige;
  display: block;
  width: 100%;
  padding: 38px 0;
  border-top: 8px solid #47bac1;
  position: relative;
  bottom: -200px;
}

.copyRight ul li a {
  display: block;
  line-height: 53px;
  font-size: 14px;
}

.box-link {
  padding: 0.5em 1em;
  margin: 5em auto;
  font-weight: bold;
  color: black;
  background: #FFF;
  border: solid 3px black;
  border-radius: 10px;
  width: 20px;
}

/*=== 検索結果画面 ===*/

.store-page {
  width: 800px;
  margin: 50px auto;
  margin-bottom: -150px;
}

.store-details {
  padding: 15px;
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.store-name {
  font-size: 14px;
  width: 600px;
  margin-right: 1px;
  display: inline-block;
}

.store-address {
  font-size: 14px;
  width: 600px;
  margin-left: auto;
  display: inline-block;
}

.store-outline {
  font-size: 12px;
  width: 430px;
  margin-left: auto;
  display: inline-block;
  position: absolute;
  padding-top: 7px;
}

.search-failure {
  text-align: center;
}

.store-image {
  padding: 10px;
  padding-right: 145px;
  display: inline-block;
}

.row {
  text-align: center;
}

.pagination {
  width: 800px;
  margin: 50px auto;
}

/*=== 店舗詳細画面 ===*/

.store-boxes {
  padding-bottom: 5px;
}

.store-box {
  a {
    color: black;
  }
}

.store-image-details {
  padding: 10px;
  padding-right: 145px;
  size: 300px;
}

.store-deta {
  max-width: 1600px;
  min-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 240px 0;
  padding-top: 10px;
}

.store-body {
  padding: 20px 0;
}

.store-description {
  list-style: none;
  li {
    float: left;
    text-align: center;
    width: 230px;
    padding: 0.5em 1em;
    margin: 1em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    a {
      display: block;
      text-decoration: none;
      margin: 0; 
      padding: 0;
    }
  }
}

.store-details-name {
  width: 930px;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
}

.store-details-address {
  width: 600px;
  height: 40px;
}

.store-details-outline {
  width: 750px;
  p {
    font-size: 25px;
  }
}

/*=== ログイン画面 ===*/

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.box {
  width: 400px;
  height: 500px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-forgotpassword {
  width: 400px;
  height: 300px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box-inner {
  padding: 20px 26px;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-email {
  margin-bottom: 13px;
}

.box-forgotemail {
  margin-bottom: 40px;
  margin-top: 40px;
}

.box-password {
  margin-bottom: 22px;
}

.box-email label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.box-forgotemail label, .box-password label {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-forgotemail input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}

.box-password a {
  font-size: 13px;
}

.box-login {
  margin-bottom: 26px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.legal-text {
  margin-top: 18px;
  font-size: 12px;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.box-newusr {
  margin-bottom: 10px;
  margin-top: 40px;
}
.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.box-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.box-newusr a:hover {
  background: #e7e9ec;
}

.guest-guide {
  font-size: 11px;
  text-align: center;
}

.guest-login {
  margin-bottom: 10px;
  text-align: center;
}

.notice {
  color: white;
  background-color: blue;
}
.alert {
  color: white;
  background-color: green;
  text-align: center;
}

#error_explanation li {
  list-style: none;
  color: red;
}

/*=== クチコミ投稿画面 ===*/

.field {
  margin: 0 auto;
  text-align: center;
  width: 200px;
}

.wom-link {
  margin: 0 auto;
  text-align: center;
  width: 200px;
}

.wom-field {
  text-align: center;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: -100px;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.wom-post {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wom-title {
  width: 600px;
  height: 50px;
  margin: 0 0 0 0;
  padding: 10px;
}

.wom-content {
  width: 600px;
  height: 220px;
  margin: 0 auto;
  padding: 0;
}

.wom-date {
  margin: 0;
  padding: 0;
  width: 300px;
}

.wom-area {
  width: 800px;
  height: 150px;
  margin: 0 auto;
  margin-top: 10px;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.wom-delete {
  float: right;
  padding-top: 10px;
  padding-right: 20px;
  color: black;
}

.wom-update {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  color: black;
}

.not-wom-message {
  margin-top: 30px;
  text-align: center;
  height: 250px;
}